/* Component LESS */

/* Portrait phones and smaller */

#header {
    position: relative;
    min-height: 110px;
    border: none;
    border-radius: 0;
    /*font-family: 'Lora', serif;*/
    /*font-family: 'Playfair Display', serif;*/
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

#header .navbar-brand  {
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;

    #logo {
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: 700;
        font-size: 1.25em;
        letter-spacing: 0.1em;
        margin-left: 5px;

        a {
            display: block;
            background-color: #c94663;
            background-image: url("images/bg1.png");
            border-radius: 0.2em;
            text-align: center;
            box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0.025em 0.15em 0 rgba(0, 0, 0, 0.75);
            text-decoration: none;
            color: #fff;
            padding: 20px 15px 24px 15px;
        }
    }
}

#header nav.navbar.navbar-default .navbar-header {
    min-height: 110px;
    background: #364050 url("images/bg1.png");
    border: none;
    border-radius: 0;
    color: white;
}

#header .container-fluid {
    background-color: #c94663;
}

#header .navbar-default {
    /*height: 122px;*/
    border: none;
    border-radius: 0;
    box-shadow: 0 3px 4px #999;
}

#header .navbar {
    border: none;
    /*border-bottom: 1px solid rgba(0, 0, 0, 0.15);*/
    border-radius: 0;
}

#header .navbar-toggle,
#header .navbar-toggle:focus {
    margin-top: 22px;
    border: 1px solid #f0f0f0;
    background-color: transparent;
}

#header .navbar-toggle .icon-bar {
    background-color: #f0f0f0;
}

#header .navbar-default .navbar-collapse  {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    padding-left: 0;
    padding-right: 0;
}

#header .navbar-collapse.in {
    overflow-y: hidden;
}

#header .navbar-default .navbar-collapse {
    background-color: #c94663;
}

#header .navbar-default .navbar-collapse[aria-expanded="true"] .dropdown.open .dropdown-toggle {
    background-color: #c94663;
}
#header .navbar-default .navbar-collapse[aria-expanded="true"] .dropdown.open .dropdown-menu,
#header .navbar-default .navbar-collapse[aria-expanded="true"] .dropdown.open .dropdown-menu,
#header .navbar-default .navbar-collapse[aria-expanded="true"] .dropdown.open .dropdown-menu li a {
    background-color: #ccc;
    border-radius: 0;
    border: none;
    color: #111;
}

#header .navbar-default .navbar-collapse .dropdown.open .dropdown-menu {
    border-radius: 0;
    background-color: #ccc;
    border: none;
    color: #000;
}

#header .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #333;
    padding-top: 8px;
    padding-bottom: 8px;
}

/*

#header .navbar-default .navbar-collapse[aria-expanded="true"]
.dropdown.open .dropdown-menu li .submenuCategory {
    display: none;
}
*/

#header .navbar-default .navbar-nav {
    margin: 0;
}

#header .navbar-default .navbar-nav > li {
    border-top: 1px solid #a8a8a8;
    z-index: 100;
    background: #364050 url('images/bg1.png');
}

#header .navbar-default .navbar-nav > li > a {
    color: #ffffff;
    line-height: 32px;
    padding-left: 20px;
}

#header .navbar-default  .navbar-nav li.dropdown.open li {
    background-color: #ccc;
}
#header .navbar-default .navbar-nav li.dropdown.open li.divider {
    background-color: #666;
}
#header .navbar-default .navbar-nav li.dropdown.open > a {
    background-color: #c94663;
}

#header .navbar-default .navbar-nav li.dropdown [class*="glyphicon-chevron-"] {
    margin-right: 5px;
    margin-top: 1px;
}

#header .navbar-collapse .navbar-nav li.dropdown .glyphicon-chevron-right,
#header .navbar-collapse .navbar-nav li.dropdown.open .glyphicon-chevron-down {
    display: inline-block;
    margin-top: 9px;
}

#header .navbar-collapse .navbar-nav li.dropdown.open .glyphicon-chevron-right,
#header .navbar-collapse .navbar-nav li.dropdown .glyphicon-chevron-down {
    display: none;
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    #header nav.navbar.navbar-default .navbar-header {
        min-height: 122px;
    }

    #header {
        min-height: 122px;

        .navbar-brand {
            #logo {
                font-size: 2em;
            }
        }
    }
}

/* Portrait tablets and small desktops and up */
/* this is where hamburger menu disappears and turns into regular menu */

@media (min-width: 768px) {
    #header {
        background: #364050 url("images/bg1.png");
        border: none;
        border-radius: 0;
    }

    #header .navbar {
        background: #364050 url("images/bg1.png");
        border: none;
        border-radius: 0;
        height: 122px;
    }

    #header .menu-icon {
        color: #fff;
        font-size: 20px;
        display: inline-block;
    }

    #header .menu-icon.chart_1 {
        font-size: 17px;
    }

    #header .container-fluid {
        background-color: transparent;
    }

    #header .navbar-default .navbar-collapse  {
        border: none;
        box-shadow: none;
        -webkit-box-shadow: none;
        background-color: transparent;
    }

    #header .navbar-collapse .navbar-nav li.dropdown .glyphicon-chevron-down,
    #header .navbar-collapse .navbar-nav li.dropdown.open .glyphicon-chevron-down,
    #header .navbar-collapse .navbar-nav li.dropdown .glyphicon-chevron-right,
    #header .navbar-collapse .navbar-nav li.dropdown.open .glyphicon-chevron-right {
        display: none;
    }

    #header .navbar-default .navbar-nav {
        margin-top: 41px;
    }

    #header .navbar-default .navbar-nav > li {
        border-top: none;
        background: none;
        background-color: transparent;
        border-bottom: solid 1px rgba(0,0,0, 0.25);
        box-shadow: inset 0 1px 0 0 rgba(255, 2555, 255, 0.25);
        margin-left: 40px;
    }

    #header .navbar-default .navbar-nav > li > a {
        padding: 6px 30px;
    }

    #header .navbar-default .navbar-nav > li > a > .nav-header-text {
        vertical-align: middle;
    }

    #header .navbar-default .navbar-nav > li.dropdown.open > a {
        height: 122px;
        background-color: #c94663;
    }

    #header .navbar-default .navbar-nav li.dropdown.open a {
        background-color: #f0f0f0;
    }

    #header .navbar-default .navbar-nav > li.dropdown.open .dropdown-menu {
        background-color: #f0f0f0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        color: #717073;
        width: 206px;
        padding: 12px 0;
    }

    #header .dropdown-menu > li {
        margin-left: 0;
    }

/*

    #header .dropdown-menu > li > a,
    #header .dropdown-menu > li > .submenuCategory {
        padding-left: 25px;
        padding-right: 25px;
    }

*/

    #header .dropdown-menu > li > a:hover {
        background-color: #b4cad5 !important;
    }

    #header .navbar-default .navbar-nav > li.dropdown.open .dropdown-menu .divider {
        width: 155px;
        margin-left: 25px;
        margin-right: 25px;
    }

/*
    These aren't being used for now but if we add sub items to the menu we'll need it

    #header .navbar-default .navbar-nav > li.dropdown.open .dropdown-menu .submenuCategory {
        font-size: 18px;
        color: #005984;
        display: inline-block;
    }

    #header .navbar-default .navbar-collapse[aria-expanded="true"]
	.dropdown.open .dropdown-menu li a.submenuCategory {
        display: inline-block;
    }
*/

}

@media (min-width: 992px) {
    #header .navbar-default .navbar-nav {
        float: right;
    }
    #header .navbar-default .navbar-nav > li > a {
        padding: 6px 30px;
    }
}

/* Add Component LESS Above */
